body {
  height: 2000px;
}

.note {
  position: absolute;
  padding: 5px;
  z-index: 1000;
  font: italic 14px serif;
  text-align: center;
  background: white;
  border: 1px solid black;
}

blockquote {
  margin: 0px 0px 0px 100px;
  padding: 0.5em 10px;
  display: inline-block;
  quotes: "\201C""\201D""\2018""\2019";
  white-space: pre;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
}

blockquote:before {
  margin-right: 0.25em;
  font-size: 4em;
  line-height: 0.1em;
  color: #ccc;
  content: open-quote;
  vertical-align: -0.4em; 
}